        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">쿠팡 밀키트 가격 변동 추적</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" href="/">국/탕/전골</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">덮밥/비빔밥</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">스테이크/고기</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">면/파스타/감바스</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">분식</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">어린이 만들기 겸용</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">중식요리</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">기타</a></li>
                    </ul>
                </div>
            </div>
        </nav>