<!DOCTYPE html>
<html lang="en">
    {% include "common/head.html" %}
    <body>
        <!-- Navigation-->
        {% include "common/navigation.html" %}
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="mb-4"></h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col mb-5">
                        <a href="/product?pid={{product.product_id}}">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ product.image }}" alt="{{ product.name }}" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder two-line-text">{{product.name}}</h5>
                                        <!-- Product price-->
                                        <span class="discount-box mx-2" style="background-color: red;">
                                            {% if product.discount_rate|float > 0 %}
                                                ▼ {{ product.discount_rate|int }}%
                                            {% endif %}
                                        </span>
                                        {{product.price}}원
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% if page.size >= 2 %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% for page_num in range(1, page.size + 1) %}
                              <li class="page-item"><a class="page-link" href="/category?cat={{ request.args.get('cat') }}&page={{ page_num }}">{{ page_num }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </section>
        <!-- Footer-->
        {% include "common/footer.html" %}
    </body>
</html>
