<!DOCTYPE html>
<html lang="en">
    {% include "common/head.html" %}
    <body>
        <!-- Navigation-->
        {% include "common/navigation.html" %}
        <header class="py-5" style="background-color: forestgreen">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">쿠팡 로켓프레시 밀키트 제품<br> 가격을 추적해서 알려드려요 </h1>
                    <p class="lead fw-normal text-white-50 mb-0">가격이 떨어진 제품을 알려드려요!</p>
                </div>
            </div>
        </header>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="mb-4">할인율이 높은 상품</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col mb-5">
                        <a href="/prodcut">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ product.image }}" alt="{{ product.name }}" />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder two-line-text">{{product.name}}</h5>
                                        <!-- Product price-->
                                        <span class="discount-box mx-2" style="background-color: red;">
                                            {% if product.discount_rate|int > 0 %}
                                                ▼ {{ product.discount_rate|int }}%
                                            {% endif %}
                                        </span>
                                        {{product.price}}원
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Footer-->
        {% include "common/footer.html" %}
    </body>
</html>
