<!DOCTYPE html>
<html lang="en">
{% include "common/head.html" %}
    <body>
        <!-- Navigation-->
        {% include "common/navigation.html" %}
        <!-- Product section-->
        <section>
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.image }}" alt="{{ product.name }}" /></div>
                    <div class="col-md-6">
<!--                        <div class="small mb-1">SKU: BST-498</div>-->
                        <h1 class="display-6 fw-bolder">{{ product.name }}</h1>
                        <div class="fs-5 mb-5">
                            <span class="discount-box mx-2 fs-5" style="background-color: red;">
                                {% if product.discount_rate|float > 0 %}
                                    ▼ {{ product.discount_rate|round(method='ceil')|int }}%
                                {% endif %}
                            </span>
                            <span style="float: right">현재가 {{ product.price }}원</span>
                        </div>
                        <div class="col mb-5">
                            <div class="card h-100 p-3">
                                <span class="d-block mb-2" style="font-weight: bold;">평균가 {{ product.avg_price|int }}원</span>
                                <span class="d-block mb-2" style="font-weight: bold; color: forestgreen"> 역대최고가 {{ product.high_price }}원 </span>
                                <span class="d-block mb-2" style="font-weight: bold; color: darkred"> 역대최저가 {{ product.low_price }}원 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        {% include "common/footer.html" %}
    </body>
</html>
