<!DOCTYPE html>
<html lang="en">
{% include "common/head.html" %}
<link href="../static/js/product.js" rel="stylesheet">
    <body>
        <!-- Navigation-->
        {% include "common/navigation.html" %}
        <!-- Product section-->
        <section>
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.image }}" alt="{{ product.name }}" /></div>
                    <div class="col-md-6">
                        <h1 class="display-6 fw-bolder">{{ product.name }}</h1>
                        <div class="fs-5 mb-5">
                            {% if product.discount_rate|float > 0 %}
                            <span class="discount-box mx-2 fs-5" style="background-color: red;">
                                ▼ {{ product.discount_rate|round(method='ceil')|int }}%
                            </span>
                            {% endif %}
                            {% if product.increase_rate|float > 0 %}
                            <span class="discount-box mx-2 fs-5" style="background-color: #14AF40;">
                               ▲ {{ product.increase_rate|round(method='ceil')|int }}%
                            </span>
                            {% endif %}
                            <span style="float: right">현재가 {{ product.price }}원</span>
                        </div>
                        <div class="col mb-5">
                            <div class="card h-100 p-3">
                                <span class="d-block mb-2" style="font-weight: bold;">평균가 {{ product.avg_price|int }}원</span>
                                <span class="d-block mb-2" style="font-weight: bold; color: forestgreen"> 역대최고가 {{ product.high_price }}원 </span>
                                <span class="d-block mb-2" style="font-weight: bold; color: darkred"> 역대최저가 {{ product.low_price }}원 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">가격 그래프</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <canvas id="myChart" width="300" height="100"></canvas>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5">
                <h2 class="fw-bolder mb-4">이 상품과 비슷한 상품</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for data in similarity_data %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{ data[1] }}" alt="{{ data[2] }}" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ data[2] }}</h5>
                                    {{ data[3] }}원
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% include "common/notice.html" %}
        <nav class="navbar navbar-light fixed-bottom bg-light">
            <div style="width:100%;">
                <a class="btn btn-outline-danger" style="font-size:20px;width:100%;" role="button" target="_blank" href="https://www.coupang.com/vp/products/{{ product.product_id }}">쿠팡사러가기</a>
            </div>
        </nav>
        <!-- Footer-->
        {% include "common/footer.html" %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <div class="mt-5"></div>
    </body>
</html>
<script type="text/javascript">
var highPrice = '{{ product_stats.high_price | tojson | safe}}'
var lowPrice = '{{ product_stats.low_price | tojson | safe}}'
var label = '{{ product_stats.labels | tojson | safe}}'

var data = {
    labels: JSON.parse(label),
    datasets: [
        {
            label: '최저가',
            backgroundColor: 'rgba(139, 0, 0)',
            borderColor: 'rgba(139, 0, 0)',
            data: JSON.parse(lowPrice),
            fill: false,
        },
        {
            label: '최고가',
            backgroundColor: 'rgba(34, 139, 34)',
            borderColor: 'rgba(34, 139, 34)',
            data: JSON.parse(highPrice),
            fill: false,
        }
    ]
};

// Chart configuration
var options = {
    scales: {
        x: {
            beginAtZero: true
        },
        y: {
            beginAtZero: true
        }
    }
};

var ctx = document.getElementById('myChart').getContext('2d');

var myChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: options
});
</script>
