<!DOCTYPE html>
<html lang="en">
    {% include "common/head.html" %}
    <body>
        {% include "common/navigation.html" %}
        {% include "common/search.html" %}
        <section>
            <div class="container px-4 px-lg-5">
                <h4 class="fw-bolder mb-4">'{{request.args.get('keyword')}}'에 대한 <span class="_count">{{page.total_count}}</span>개의 검색결과</h4>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col mb-5">
                        <a href="/product?pid={{product.product_id}}">
                            <div class="card h-100">
                                <img class="card-img-top" src="{{ product.image }}" alt="{{ product.name }}" />
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="fw-bolder two-line-text">{{product.name}}</h5>
                                        {% if product.discount_rate|float > 0 %}
                                            <span class="discount-box mx-2" style="background-color: red;">
                                               ▼ {{ product.discount_rate|round(method='ceil')|int }}%
                                            </span>
                                        {% endif %}
                                        {% if product.increase_rate|float > 0 %}
                                            <span class="discount-box mx-2" style="background-color: #14AF40;">
                                               ▲ {{ product.increase_rate|round(method='ceil')|int }}%
                                            </span>
                                        {% endif %}
                                        {{product.price}}원
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% if page.size >= 2 %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% for page_num in range(1, page.size + 1) %}
                              <li class="page-item"><a class="page-link" href="/search?type={{ request.args.get('type') }}&keyword={{ request.args.get('keyword') }}&page={{ page_num }}">{{ page_num }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
        </section>
        {% include "common/footer.html" %}
    </body>
</html>
